<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        General Information
        <ul class="sub-menu-item">
          <li>
            <a id='home-nav-link' href="/myservice/index.html">YOUR-PRODUCT-NAME (Beta)</a>
          </li>
          <li>
            <a href="/myservice/release-notes.html">Release Notes</a>
          </li>
        </ul>
      </li>
      <li>
        Operators
        <ul class="sub-menu-item">
          <li>
            <a href="/myservice/operators-installation.html">Installation</a>
          </li>
          <li>
            <a href="/myservice/operators-configuration.html">Configuration</a>
          </li>
        </ul>        
      </li>
      <li>
        Developer
        <ul class="sub-menu-item">
          <li>
            <a id='home-nav-link' href="/myservice/developer-dashboard.html">Dashboard Usage</a>
          </li>
          <li>
            <a href="/myservice/developer-backup.html">Backup Management</a>
          </li>
          <li>
            <a id='home-nav-link' href="/myservice/developer-service-deployment.html">Service Deployment</a>
          </li>
          <li>
            <a id='home-nav-link' href="/myservice/developer-apps-in-services.html">Using Apps in Services</a>
          </li>
        </ul>        
      </li>        
    </ul>
  </div>
</div><!--end of sub-nav-->
