---
title: Backup Management
owner: evoila GmbH
---

<strong><%= modified_date %></strong>

In contrast to many backup solutions for Open Service Brokers, our solution is completely based on an self-service approach. Operators and developers are enabled 
to configure and maintain the backup endpoints, plans and restore operations from a dashboard. The following sections will guide you through the process of 
setting up backup management for Open Service Brokers with data services (e.g. PostgreSQL, MySQL etc.).
## <a id="backup-endpoint-configuration"></a> Backup Endpoint Configuration
Before you can create backup plans it is necessary to configure a backup endpoint. Currently we support two diffent endpoint technologies:

* S3
* Swift

### <a id="s3"></a> S3
For S3 you need to configure the following parameters in AWS before you can add it to your backup endpoint:

* AWS Secret: create AWS secret from your AWS management console
* AWS Secret Key: use the AWS secret key from the AWS secret 
* Bucket: create a bucket in AWS S3

![Backup Endpoint Configuration](images/backup/backup-endpoint-configuration.png)

Additionally you need to specify the following values for an endpoint:

* Name: specify the endpoint name 
* Destination Type: choose between S3 and Swift
* Bucket/Container: depending on S3 or Swift

After you have entered your data, you need to click the `Validate` button. This button issues a request against the backend, which checks if the provided credentials
are correct. If the validation was not successful, you will see and error at the botton of your browser window. When the validation was successful you will see
a button labeled with `Submit`, which you can click to save the endpoint.

After you have successfully configured an endpoint, you will be redirected to the endpoint overview. There you can click on details if you want to edit the endpoint.

![Backup Endpoint List](images/backup/backup-endpoint-list.png)

## <a id="backup-plan-configuration"></a> Backup Plan Configuration
After you have successfully configured the backup endpoint the next step is to configure the backup plan. A backup plan defines the backup schedule for one or more
databases. 

![Backup Plan Configuration](images/backup/backup-plan-configuration.png)

To configure a backup plan you need to configure the following fields:

* Name: the plan name
* Paused: if the plan is paused or not
* Compression: if the files should be compressed or not before they are uploaded to the endpoint (recommended)
* Frequencey:
    * "0 0 * * * *" = the top of every hour of every day.
    * "*/10 * * * * *" = every ten seconds.
    * "0 0 8-10 * * *" = 8, 9 and 10 o'clock of every day.
    * "0 0 8,10 * * *" = 8 and 10 o'clock of every day.
    * "0 0/30 8-10 * * *" = 8:00, 8:30, 9:00, 9:30 and 10 o'clock every day.
    * "0 0 9-17 * * MON-FRI" = on the hour nine-to-five weekdays
    * "0 0 0 25 12 ?" = every Christmas Day at midnight
    * **Cron expression is represented by six fields: second, minute, hour, day of month, month, day(s) of week**
* Retention Period: The length of the rention style, files should be kept on the file store
* Retention Style:: Selection between days, weeks and files
* File Destination: The file endpoint you have configured in the previous step

After you have successfully configured an plan, you will be redirected to the plan overview. There you can click on details if you want to edit the plan.

![Backup Plan List](images/backup/backup-plan-list.png)

## <a id="backup-jobs"></a> Backup Jobs
From the backup plan section and the `Backup now` button or based on the periodic scheduling you defined backup jobs are run. The state of those runs can be 
checked in the backup jobs section. The most important information here are the start date of the job and the state. 

![Backup Job List](images/backup/backup-job-list.png)

A backup job may have four different states:

* STARTED: job was started a few seconds ago and is not yet executed through the backup agent
* RUNNING: job is being executed in the agent or uploading resource to your endpoint
* SUCCEEDED: job execution was successful
* ERROR: job execution failed, please check in the job detail view the reason

By clicking on the details button you can see the job details. The job details view contains valuable information about the success of your backup job. Currently
the following properties are returned:

![Backup Job Details](images/backup/backup-job-details.png)

The information you can find in the job details section are as follows:

* Destination Name: name of your endpoint for the plan, which was executed
* Destination Type: S3/Swift
* Container/Bucket: configured container or bucket 
* Database: the databases configured
* Start Time: start time of the backup job
* End Time: end time of the backup job
* Execution Time: backup execution time
* Status: 
    * STARTED: job was started a few seconds ago and is not yet executed through the backup agent
    * RUNNING: job is being executed in the agent or uploading resource to your endpoint
    * SUCCEEDED: job execution was successful
    * ERROR: job execution failed, please check in the job detail view the reason
* Error Message: the message, when the executed failed
* Pre-Backup Log: execution log for the pre backup script
* Pre-Backup Error Log: error execution log for the pre backup script
* Pre-Backup Lock Log: execution log for the backup lock script
* Pre-Backup Lock Error Log: error execution log for the backup lock script
* Backup Log: execution log for the pre backup script
* Backup Error Log: error execution log for the backup script
* Post-Backup Cleanup Log: execution log for the post backup script
* Post-Backup Cleanup Error Log: error execution log for the post backup script
* Post-Backup Unlock Log: execution log for the backup unlock script
* Post-restore Unlock Error Log: error execution log for the backup lock script
* Files: the files transferred to the endpoint, one per database configured (file name format: 2019_08_22_18_10_10.0.64.96_8ee03884-1de5-4433-885c-ae9095589b5b.tar.gz)

## <a id="restore-points"></a> Restore Points
If a backup was successful, you can find the restore points in the overview under Restore Points. To restore from a specific restore point just click on the restore 
button, which will bring you to the backup selection.
![Restore Endpoint List](images/backup/restore-point-list.png)

In this section you can find the the following properties:

* Destination Name: name of your endpoint for the plan, which was executed
* Destination Type: S3/Swift
* Container/Bucket: configured container or bucket
* Files: the files transferred to the endpoint, one per database configured (file name format: 2019_08_22_18_10_10.0.64.96_8ee03884-1de5-4433-885c-ae9095589b5b.tar.gz)

![Restore Endpoint Request](images/backup/restore-point-request.png)

By clicking on the `restore` button you can trigger a restore operation, which will then trigger a restore in the database the backup was
made of.

## <a id="restore-jobs"></a> Restore Jobs
From the restore point section and the `Restore` button the restore jobs are run. The state of those runs can be 
checked in the restore jobs section. The most important information here are the start date of the job and the state. 
![Restore Job List](images/backup/restore-job-list.png)

A restore job may have four different states:

* STARTED: job was started a few seconds ago and is not yet executed through the restore agent
* RUNNING: job is being executed in the agent or uploading resource to your endpoint
* SUCCEEDED: job execution was successful
* ERROR: job execution failed, please check in the job detail view the reason

By clicking on the details button you can see the job details. The job details view contains valuable information about the success of your backup job. Currently
the following properties are returned:

![Restore Job Details](images/backup/restore-job-details.png)

The information you can find in the job details section are as follows:

* Database: the databases configured
* Start Time: start time of the restore job
* End Time: end time of the restore job
* Execution Time: restore execution time
* Status: 
    * STARTED: job was started a few seconds ago and is not yet executed through the restore agent
    * RUNNING: job is being executed in the agent or uploading resource to your endpoint
    * SUCCEEDED: job execution was successful
    * ERROR: job execution failed, please check in the job detail view the reason
* Error Message: the message, when the executed failed
* Pre-Restore Log: execution log for the pre restore script
* Pre-Restore Error Log: error execution log for the pre restore script
* Pre-Restore Lock Log: execution log for the restore lock script
* Pre-Restore Lock Error Log: error execution log for the restore lock script
* Restore Log: execution log for the pre restore script
* Restore Error Log: error execution log for the restore script
* Post-Restore Cleanup Log: execution log for the post restore script
* Post-Restore Cleanup Error Log: error execution log for the post restore script
* Post-Restore Unlock Log: execution log for the restore unlock script
* Post-restore Unlock Error Log: error execution log for the restore lock script
