---
title: Cassandra Service Broker (Beta)
owner: evoila GmbH
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>Warning: </strong>
The evoila Cassandra Service Broker for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

![Service Broker Icon](images/logo.png)

This documentation describes the evoila Cassandra Service Broker for Pivotal Cloud Foundry (PCF) and Pivotal Container Services
(PKS). The evoila Cassanda Service Broker for PCF/PKS enables developers to run Big Data Applications with a highly scalable
setup of Cassandra. 

### Cassandra Service Broker
The evoila Cassandra Service Broker for PCF/PKS is able to supports the following ways of Deployment Cassandra:.

<table class="nice">
    <th>Deployment Type</th>
    <th>Enabled</th>
    <tr>
        <td>Shared Clusters</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Dedicated Vms and Clusters</td>
        <td>Yes</td>
    </tr>
</table>

The Service Broker supports a high number of Shared and Dedicated Plans. The Plans are predefined with Metadata and Schema
Definitions, which support the configuration of a Service Instance in the Service Broker Dashboard.

TODO: More details about the dashboard configuration

A new Service Instance can be ordered via CF/PKS Command Line Interface. All deployed Service Instances of Cassandra are:

<table class="nice">
    <th>Deployment </th>
    <th>Bindable</th>
    <tr>
        <td>Shared Clusters</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Dedicated Vms and Clusters</td>
        <td>Yes</td>
    </tr>
</table>

## <a id='features'></a>Key Features
evoila Cassanda Service Broker includes the following key features:

<table class="nice">
    <th>Feature</th>
    <th>Description</th>
     <tr>
        <td>Shared Clusters</td>
        <td>
            Enabled
        </td>
    </tr>
    <tr>
        <td>Dedicated Vms and Clusters</td>
        <td>
            Enabled
        </td>
    </tr>
    <tr>
       <td>Configurability</td>
       <td>
            Enabled
       </td>
    </tr> 
    <tr>
       <td>Credential Store</td>
       <td>
           Enabled
       </td>
    </tr>  
    <tr>
       <td>SSL/TLS</td>
       <td>
        Disabled by default, but can be enabled after deployment.
       </td>
    </tr>    
    <tr>
        <td>Backup Support</td>
        <td>
            Disbaled
        </td>
    </tr>
    <tr>
        <td>Bosh DNS</td>
        <td>Enabled</td>
    </tr>
</table>

### Configuration Options

<table class="nice">
    <th>Config Parameter</th>
    <th>Description</th>
     <tr>
        <td>example.one</td>
        <td>
            Text to be done
        </td>
    </tr>

</table>

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.0.1</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>1.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2, 2.3 and 2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.2, 2.3 and 2.4</td>
    </tr>    
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial/Ubuntu Trusty (running out of support)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements
To install, configure and use evoila Cassandra Service Broker, you must install the following products:

* evoila Service Broker Backend

An one of the following:

* Pivotal Applications Services
* Pivotal Container Services


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email us via
[evoila Service Broker Support](mailto:support@evoila.de).

## <a id='license'></a>License

Contact our sales team to learn more about commercial licenses and support.
