---
title: Release Notes for evoila Cassandra Service Broker
owner: evoila GmbH
---

<strong><%= modified_date %></strong>
These are release notes for evoila Cassandra Service Broker.


##<a id="ver"></a> v1.0.1 

**Release Date:** February 1, 2019

Features included in this release:

* Enabling Shared Instance Deployment
* Enabling Dedicated VMs/Cluster Deployment
* Full up and down scaling ability for Cluster
* Configurability via Dashboard
